.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 50px;
  font-size: 1.8em;
  color: black;
  text-decoration: none !important
}

.logo:hover {
  text-decoration: none;
}

.sign-up {
  width: 50%;
}

.carousel {
  width: 50%;
  padding: 50px;
}
.features {
  padding: 50px 0px 50px 50px;
  font-size: 2em;
}

.features img {
  width: 10%;
}

.profile-details {
  width: 334px;
  height: 260px;
  padding: 30px;
  margin: auto;
}

.avatar {
  width: 80px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profile-actions {
  width: 35px;
}

.post-button {
  width: 94px;
}

.card {
  width: 18rem;
}

.card-new-post {
  width: 50rem;
}

.bold {
  font-weight: bold;
}



